@font-face {
    src: url('roboto_regular.ttf');
}

.root {
    -fx-font-family: 'Roboto';
    -fx-accent: #1e74c6;
    -fx-focus-color: -fx-accent;
    -fx-base: #23292B;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
    -icon-paint: #efefef;
}

.label{
    -fx-text-fill: #EEEEEE;
}

.text-field {
    -fx-prompt-text-fill: #EEEEEE;
}

.titulo{
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.button{
    -fx-focus-traversable: false;
}

.button:hover{
    -fx-text-fill: #EEEEEE;
}

.separator *.line {
    -fx-background-color: -fx-base;
    -fx-border-style: none;
}

.scroll-bar{
    -fx-background-color: #293032;
}

.button:default {
    -fx-base: -fx-accent ;
}

.table-view{
    /*-fx-background-color: derive(-fx-base, 10%);*/
    -fx-selection-bar-non-focused: derive(-fx-base, 10%);
    -fx-border-style: none;
    -fx-fixed-cell-size: 32px;
}

.list-view{
    -fx-selection-bar-non-focused: -fx-base;
    -fx-border-style: none;
}

.table-view>*.column-header-background>*.filler{
	-fx-background-color : -fx-base -fx-base;
	-fx-border-style: none;
}



.table-view:row-selection .column-header-background{
        -fx-background-color: #23292B;
        -fx-border-style: none;
}

.table-view .column-header .label{
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 10;
    -fx-font-weight: none;
}

.table-view:row-selection .placeholder {
    -fx-background-color : -fx-base;
}


.list-cell:even,
.table-row-cell:even{
    -fx-background-color: -fx-base;
    -fx-border-style: none;
}

.list-cell:odd,
.table-row-cell:odd{
    -fx-border-style: none;
    -fx-background-color: #2E3436;
}

.list-cell:empty,
.table-row-cell:empty {
    -fx-border-style: none;
}

.list-cell,
.table-row-cell{
    -fx-border-style: none;
    -fx-font-size: 14px;
}

.list-view {
    -fx-background-color: #33393b;
}

.play-btn {
    -fx-content-display: graphic-only;
    -fx-fill: -icon-paint;
    -fx-background-color: -icon-paint;
    -size: 34;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M3 22v-20l18 10-18 10z";

}

.prev-btn {
    -fx-background-color: -icon-paint;
    -size: 24;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M12 12l12-7v14l-12-7zm-12 0l12-7v14l-12-7z";
}

.next-btn {
    -fx-background-color: -icon-paint;
    -size: 24;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M0 19v-14l12 7-12 7zm12 0v-14l12 7-12 7z";
}

.pause-btn {
    -fx-background-color: -icon-paint;
    -size: 34;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M10 24h-6v-24h6v24zm10-24h-6v24h6v-24z";
}
